body{
  padding: 0;
  margin: 0;
  font-size: 20px;
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

#choice-banner {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 20px;
}

#choice-banner span:not(:last-child) {
  border-right: 1px solid grey;
  padding-right: 8px;
}
#choice-banner span{
  margin: 0 6px;
}

.signin-up-btn{
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  margin-left: 0px;
}

#MMYY-selection{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  margin-bottom:15px;
  border-bottom:1px solid #ddd;
  padding-bottom:10px;
}

#MMYY-selection div{
  display: flex;
  align-items:center;
  gap: 8px;
}

.container {
  display:grid;
  grid-template-columns:3fr 1fr;
  height:calc(100vh - 70px);
}

.days {
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:6px;
  text-align: center;
}

.day {
  background:white;
  padding:12px;
  min-height:80px;
  border-radius:6px;
  cursor:pointer;
}

.calendar{
  padding:20px;
}

#dayNames{
  margin-bottom: 15px;
}

.sidebar {
  background:white;
  padding-left: 10px;
  border-left:1px solid #ddd;
}
